#include "resource.h"
#include <WinUser.h>

/////////////////////////////////////////////////////////////////////////////
// Icons
// IDI_LOGONUI             ICON                    "logonui.ico"

/////////////////////////////////////////////////////////////////////////////
// Bitmaps
IDB_TILE_IMAGE            BITMAP                  "tileimage.bmp"		// Generic tile image

/////////////////////////////////////////////////////////////////////////////
// Strings
// IDS_PROJNAME            STRINGTABLE             { "SampleCredentialProvider" }